.sublime-text {
    animation: appear 500ms ease-out forwards;
    width: 416px;
    max-width: 100%;
    overflow: visible;
    transform: scale(0);
    text-align: left;
    margin: 1rem auto;
}

.screen {
    position: relative;
    height: 270px;
    background-color: #404041;
    border-radius: 8px;
    color: #fff;
    font-size: 100%;
}

.top-bar {
    width: 100%;
    height: 30px;
    position: absolute;
    margin-top: 0;
    background-color: #ffffff;
    border-radius: 7px 7px 0 0;
}

.code {
    position: absolute;
    margin: 3rem 1rem 3rem 3rem;
}

.line {
    position: relative;
    height: 22px;
}

.code-item {
    opacity: 0;
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 100%;
    height: 8px;
    background-color: white;
    border-radius: 4px;
}

.code-item.green {
    width: 65px;
    background-color: #5EC3AF;
}

.code-item.orange {
    width: 115px;
    background-color: #FF8F8F;
}

.code-item.blue {
    width: 94px;
    background-color: #14bdf4;
}

.code-item.purple {
    width: 44px;
    background-color: #9E76B4;
}

.code-item.yellow {
    width: 73px;
    background-color: #FFCC4E;
}

.code-item.transparent {
    background-color: transparent;
    width: 30px;
}

.code-item.cursor {
    border-radius: 0;
    margin-left: 1px;
    background-color: #E6E7E8;
    width: 2px;
    animation: blink 1s ease 4.6s infinite;
}

.left-bar {
    height: 100%;
    width: 30px;
    position: absolute;
    padding-left: 8px;
    background-color: #2e2e2f;
    border-radius: 10px 0 0 7px;
}

.left-bar:after {
    position: absolute;
    top: 24px;
    content: ". . . . . . . . . .";
    color: #59595b;
    font-size: 42px;
    line-height: 20px;
}

.buttons {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 12px;
    background: #FF8F8F;
    border-radius: 50%;
    left: 22px;
}

.buttons:after, .buttons:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.buttons:after {
    left: 12px;
    background-color: #5EC3AF;
}

.buttons:before {
    left: -12px;
    background-color: #ff2929;
}


/* Input text animation */

.line1 > p:nth-child(1) {
    animation: show-text 100ms ease 1100ms forwards;
}

.line1 > p:nth-child(2) {
    animation: show-text 100ms ease 1200ms forwards;
}

.line1 > p:nth-child(3) {
    animation: show-text 100ms ease 1300ms forwards;
}

.line1 > p:nth-child(4) {
    animation: show-text 100ms ease 1400ms forwards;
}

.line1 > p:nth-child(5) {
    animation: show-text 100ms ease 1500ms forwards;
}

.line1 > p:nth-child(6) {
    animation: show-text 100ms ease 1600ms forwards;
}

.line1 > p:nth-child(7) {
    animation: show-text 100ms ease 1700ms forwards;
}

.line1 > p:nth-child(8) {
    animation: show-text 100ms ease 1800ms forwards;
}

.line1 > p:nth-child(9) {
    animation: show-text 100ms ease 1900ms forwards;
}

.line2 > p:nth-child(1) {
    animation: show-text 100ms ease 1500ms forwards;
}

.line2 > p:nth-child(2) {
    animation: show-text 100ms ease 1600ms forwards;
}

.line2 > p:nth-child(3) {
    animation: show-text 100ms ease 1700ms forwards;
}

.line2 > p:nth-child(4) {
    animation: show-text 100ms ease 1800ms forwards;
}

.line2 > p:nth-child(5) {
    animation: show-text 100ms ease 1900ms forwards;
}

.line2 > p:nth-child(6) {
    animation: show-text 100ms ease 2000ms forwards;
}

.line2 > p:nth-child(7) {
    animation: show-text 100ms ease 2100ms forwards;
}

.line2 > p:nth-child(8) {
    animation: show-text 100ms ease 2200ms forwards;
}

.line2 > p:nth-child(9) {
    animation: show-text 100ms ease 2300ms forwards;
}

.line3 > p:nth-child(1) {
    animation: show-text 100ms ease 1900ms forwards;
}

.line3 > p:nth-child(2) {
    animation: show-text 100ms ease 2000ms forwards;
}

.line3 > p:nth-child(3) {
    animation: show-text 100ms ease 2100ms forwards;
}

.line3 > p:nth-child(4) {
    animation: show-text 100ms ease 2200ms forwards;
}

.line3 > p:nth-child(5) {
    animation: show-text 100ms ease 2300ms forwards;
}

.line3 > p:nth-child(6) {
    animation: show-text 100ms ease 2400ms forwards;
}

.line3 > p:nth-child(7) {
    animation: show-text 100ms ease 2500ms forwards;
}

.line3 > p:nth-child(8) {
    animation: show-text 100ms ease 2600ms forwards;
}

.line3 > p:nth-child(9) {
    animation: show-text 100ms ease 2700ms forwards;
}

.line4 > p:nth-child(1) {
    animation: show-text 100ms ease 2300ms forwards;
}

.line4 > p:nth-child(2) {
    animation: show-text 100ms ease 2400ms forwards;
}

.line4 > p:nth-child(3) {
    animation: show-text 100ms ease 2500ms forwards;
}

.line4 > p:nth-child(4) {
    animation: show-text 100ms ease 2600ms forwards;
}

.line4 > p:nth-child(5) {
    animation: show-text 100ms ease 2700ms forwards;
}

.line4 > p:nth-child(6) {
    animation: show-text 100ms ease 2800ms forwards;
}

.line4 > p:nth-child(7) {
    animation: show-text 100ms ease 2900ms forwards;
}

.line4 > p:nth-child(8) {
    animation: show-text 100ms ease 3000ms forwards;
}

.line4 > p:nth-child(9) {
    animation: show-text 100ms ease 3100ms forwards;
}

.line5 > p:nth-child(1) {
    animation: show-text 100ms ease 2700ms forwards;
}

.line5 > p:nth-child(2) {
    animation: show-text 100ms ease 2800ms forwards;
}

.line5 > p:nth-child(3) {
    animation: show-text 100ms ease 2900ms forwards;
}

.line5 > p:nth-child(4) {
    animation: show-text 100ms ease 3000ms forwards;
}

.line5 > p:nth-child(5) {
    animation: show-text 100ms ease 3100ms forwards;
}

.line5 > p:nth-child(6) {
    animation: show-text 100ms ease 3200ms forwards;
}

.line5 > p:nth-child(7) {
    animation: show-text 100ms ease 3300ms forwards;
}

.line5 > p:nth-child(8) {
    animation: show-text 100ms ease 3400ms forwards;
}

.line5 > p:nth-child(9) {
    animation: show-text 100ms ease 3500ms forwards;
}

.line6 > p:nth-child(1) {
    animation: show-text 100ms ease 3100ms forwards;
}

.line6 > p:nth-child(2) {
    animation: show-text 100ms ease 3200ms forwards;
}

.line6 > p:nth-child(3) {
    animation: show-text 100ms ease 3300ms forwards;
}

.line6 > p:nth-child(4) {
    animation: show-text 100ms ease 3400ms forwards;
}

.line6 > p:nth-child(5) {
    animation: show-text 100ms ease 3500ms forwards;
}

.line6 > p:nth-child(6) {
    animation: show-text 100ms ease 3600ms forwards;
}

.line6 > p:nth-child(7) {
    animation: show-text 100ms ease 3700ms forwards;
}

.line6 > p:nth-child(8) {
    animation: show-text 100ms ease 3800ms forwards;
}

.line6 > p:nth-child(9) {
    animation: show-text 100ms ease 3900ms forwards;
}

.line7 > p:nth-child(1) {
    animation: show-text 100ms ease 3500ms forwards;
}

.line7 > p:nth-child(2) {
    animation: show-text 100ms ease 3600ms forwards;
}

.line7 > p:nth-child(3) {
    animation: show-text 100ms ease 3700ms forwards;
}

.line7 > p:nth-child(4) {
    animation: show-text 100ms ease 3800ms forwards;
}

.line7 > p:nth-child(5) {
    animation: show-text 100ms ease 3900ms forwards;
}

.line7 > p:nth-child(6) {
    animation: show-text 100ms ease 4000ms forwards;
}

.line7 > p:nth-child(7) {
    animation: show-text 100ms ease 4100ms forwards;
}

.line7 > p:nth-child(8) {
    animation: show-text 100ms ease 4200ms forwards;
}

.line7 > p:nth-child(9) {
    animation: show-text 100ms ease 4300ms forwards;
}

.line8 > p:nth-child(1) {
    animation: show-text 100ms ease 3900ms forwards;
}

.line8 > p:nth-child(2) {
    animation: show-text 100ms ease 4000ms forwards;
}

.line8 > p:nth-child(3) {
    animation: show-text 100ms ease 4100ms forwards;
}

.line8 > p:nth-child(4) {
    animation: show-text 100ms ease 4200ms forwards;
}

.line8 > p:nth-child(5) {
    animation: show-text 100ms ease 4300ms forwards;
}

.line8 > p:nth-child(6) {
    animation: show-text 100ms ease 4400ms forwards;
}

.line8 > p:nth-child(7) {
    animation: show-text 100ms ease 4500ms forwards;
}

.line8 > p:nth-child(8) {
    animation: show-text 100ms ease 4600ms forwards;
}

.line8 > p:nth-child(9) {
    animation: show-text 100ms ease 4700ms forwards;
}

.line9 > p:nth-child(1) {
    animation: show-text 100ms ease 4300ms forwards;
}

.line9 > p:nth-child(2) {
    animation: show-text 100ms ease 4400ms forwards;
}

.line9 > p:nth-child(3) {
    animation: show-text 100ms ease 4500ms forwards;
}

.line9 > p:nth-child(4) {
    animation: show-text 100ms ease 4600ms forwards;
}

.line9 > p:nth-child(5) {
    animation: show-text 100ms ease 4700ms forwards;
}

.line9 > p:nth-child(6) {
    animation: show-text 100ms ease 4800ms forwards;
}

.line9 > p:nth-child(7) {
    animation: show-text 100ms ease 4900ms forwards;
}

.line9 > p:nth-child(8) {
    animation: show-text 100ms ease 5000ms forwards;
}

.line9 > p:nth-child(9) {
    animation: show-text 100ms ease 5100ms forwards;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.05);
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 480px) {
    .code-item.green {
        width: 48px;
    }
    .code-item.orange {
        width: 96px;
    }
    .code-item.blue {
        width: 76px;
    }
    .code-item.purple {
        width: 22px;
    }
    .code-item.yellow {
        width: 58px;
    }
    .code-item.transparent {
        width: 10px;
    }
}