.loader {
  position: relative;
  margin: 30px auto;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #4ab19a;
  padding: 80px;
  border-radius: 50%;
}

.box {
  position: absolute;
  top: 52%;
  left: 32%;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: .4rem solid #fff;
  border-radius: 15%;
  transform: translate(0,-1rem) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79,0,.47,.97) infinite;
}

.hill {
  position: absolute;
  width: 9rem;
  height: 9rem;
  top: 42%;
  left: 42%;
  background-color: transparent;
  border-left: .4rem solid #f5f5f5;
  transform: rotate(45deg);
}

.hill:after {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  left: 0;
  background-color: #4ab19a;
}

@-webkit-keyframes push {
  0% {
    -webkit-transform: translate(0, -1rem) rotate(-45deg);
  }
  5% {
    -webkit-transform: translate(0, -1rem) rotate(-50deg);
  }
  20% {
    -webkit-transform: translate(1rem, -2rem) rotate(47deg);
  }
  25% {
    -webkit-transform: translate(1rem, -2rem) rotate(45deg);
  }
  30% {
    -webkit-transform: translate(1rem, -2rem) rotate(40deg);
  }
  45% {
    -webkit-transform: translate(2rem, -3rem) rotate(137deg);
  }
  50% {
    -webkit-transform: translate(2rem, -3rem) rotate(135deg);
  }
  55% {
    -webkit-transform: translate(2rem, -3rem) rotate(130deg);
  }
  70% {
    -webkit-transform: translate(3rem, -4rem) rotate(217deg);
  }
  75% {
    -webkit-transform: translate(3rem, -4rem) rotate(220deg);
  }
  100% {
    -webkit-transform: translate(0, -1rem) rotate(-225deg);
  }
}

@-moz-keyframes push {
  0% {
    -moz-transform: translate(0, -1rem) rotate(-45deg);
  }
  5% {
    -moz-transform: translate(0, -1rem) rotate(-50deg);
  }
  20% {
    -moz-transform: translate(1rem, -2rem) rotate(47deg);
  }
  25% {
    -moz-transform: translate(1rem, -2rem) rotate(45deg);
  }
  30% {
    -moz-transform: translate(1rem, -2rem) rotate(40deg);
  }
  45% {
    -moz-transform: translate(2rem, -3rem) rotate(137deg);
  }
  50% {
    -moz-transform: translate(2rem, -3rem) rotate(135deg);
  }
  55% {
    -moz-transform: translate(2rem, -3rem) rotate(130deg);
  }
  70% {
    -moz-transform: translate(3rem, -4rem) rotate(217deg);
  }
  75% {
    -moz-transform: translate(3rem, -4rem) rotate(220deg);
  }
  100% {
    -moz-transform: translate(0, -1rem) rotate(-225deg);
  }
}

@-ms-keyframes push {
  0% {
    -ms-transform: translate(0, -1rem) rotate(-45deg);
  }
  5% {
    -ms-transform: translate(0, -1rem) rotate(-50deg);
  }
  20% {
    -ms-transform: translate(1rem, -2rem) rotate(47deg);
  }
  25% {
    -ms-transform: translate(1rem, -2rem) rotate(45deg);
  }
  30% {
    -ms-transform: translate(1rem, -2rem) rotate(40deg);
  }
  45% {
    -ms-transform: translate(2rem, -3rem) rotate(137deg);
  }
  50% {
    -ms-transform: translate(2rem, -3rem) rotate(135deg);
  }
  55% {
    -ms-transform: translate(2rem, -3rem) rotate(130deg);
  }
  70% {
    -ms-transform: translate(3rem, -4rem) rotate(217deg);
  }
  75% {
    -ms-transform: translate(3rem, -4rem) rotate(220deg);
  }
  100% {
    -ms-transform: translate(0, -1rem) rotate(-225deg);
  }
}

@keyframes push {
  0% {
    transform: translate(0, -1rem) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1rem) rotate(-50deg);
  }
  20% {
    transform: translate(1rem, -2rem) rotate(47deg);
  }
  25% {
    transform: translate(1rem, -2rem) rotate(45deg);
  }
  30% {
    transform: translate(1rem, -2rem) rotate(40deg);
  }
  45% {
    transform: translate(2rem, -3rem) rotate(137deg);
  }
  50% {
    transform: translate(2rem, -3rem) rotate(135deg);
  }
  55% {
    transform: translate(2rem, -3rem) rotate(130deg);
  }
  70% {
    transform: translate(3rem, -4rem) rotate(217deg);
  }
  75% {
    transform: translate(3rem, -4rem) rotate(220deg);
  }
  100% {
    transform: translate(0, -1rem) rotate(-225deg);
  }
}