@import url( 'https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');

.icons {
  font-size: 300%;
  margin: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
@media screen and (max-width: 992px) {
  body {
    font-size: .9rem;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: .8rem;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: .7rem;
  }
}
