@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: Montserrat, HelveticaNeue-Light, helvetica neue light, helvetica neue, Helvetica, Arial, lucida grande, sans-serif;
}

a {
  color: #4ab19a;
  text-decoration: none;
}

a:hover {
  color: #1e836c;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 0.6rem;
  }
}